<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>WedPlanner require access to the microphone to enable voice input for searching and other app features.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>WedPlanner use speech recognition to convert your voice input into text for a smoother app experience.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>WedPlanner requests access to your file library so that you can upload and set cover images to your posts.</string>
</dict>
</plist>
